<div class="row">
  <div class="col-md-12">
    <h1 class="app-title">Clientes</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-5">

    <div class="panel panel-primary">
      <div class="panel-body">

        <form autocomplete="off" [formGroup]="formCliente" (ngSubmit)="formCliente">
          <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && fc.nome.errors }">
            <label for="name">Nome do Cliente</label>
            <input type="text" class="form-control" id="name" formControlName="nome">
            <span *ngIf="isSubmitted && fc.nome.errors" class="help-block">Coloque o nome!</span>
          </div>

          <button type="button" class="btn btn-success" (click)="save()">Enviar</button>
          <button type="button" class="btn btn-danger" (click)="cleanForm()">Limpar</button>
        </form>

      </div>
    </div>

  </div>

</div>
<div class="col-md-5">

  <div class="panel panel-primary">
    <div class="panel-heading">Lista de Clientes</div>
    <div class="panel-body">

      <table style="width: 100%;">
        <tr>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
        <tr *ngFor="let clientes of clientesList">
          <td>{{ clientes.nome }}</td>
          <td>
            <button (click)="edit(clientes.id)" class="btn btn-sm btn-warning" [disabled]="clientes.isReading">
              <span>Editar</span>
            </button>
            <button (click)="delete(clientes.id)" class="btn btn-sm btn-danger" [disabled]="clientes.isDeleting">
              <span>Delete</span>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
  
     
  